.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #89d4cf, #6e45e2);
  font-family: "Arial", sans-serif;
}

.login-form {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
  width: 300px;
  text-align: center;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #fff;
}

.form-username {
  width: 92%;
}

.form-input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-input::placeholder {
  color: rgba(51, 50, 50, 0.6);
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #6e45e2;
  outline: none;
  padding: 0;
}

.toggle-password:hover {
  color: #277b88;
}

.login-button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background: #7348e7;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-button:hover {
  background: #5521e2;
}

.loading-icon {
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-top-color: #4ca1af;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: 8px;
}

.disabled-button {
  cursor: not-allowed;
}

.disabled-button:hover {
  transform: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
